<div class="table-container">
    <table mat-table [dataSource]="moedas" class="mat-elevation-z8">
      
      <!-- Coluna: Símbolo -->
      <ng-container matColumnDef="simbolo">
        <th mat-header-cell *matHeaderCellDef> Símbolo </th>
        <td mat-cell *matCellDef="let moeda"> {{ moeda.simbolo }} </td>
      </ng-container>
  
      <!-- Coluna: Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let moeda"> {{ moeda.nome }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['simbolo', 'nome']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['simbolo', 'nome']"></tr>
    </table>
  </div>
  